<!-- sidebar.component.html -->
<nav class="py-3">
  <div class="nav-brand p-3">
    <h3 class="logo fs-4">Zero2hero <i class="bi bi-rocket-takeoff"></i></h3>
  </div>
  <ul>
    <ng-container *ngFor="let item of menuItems">
      <li
        *ngIf="hasRole(item.roles)"
        [class.active]="item.link === '/admin/dashboard'"
      >
        <a class="nav-link" [routerLink]="item.link">
          <i [class]="item.icon"></i>
          <span class="nav-item fs-6">{{ item.label }}</span>
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
