<div class="container py-5 d-flex justify-content-center aliggn-items-center">
  <div class="showcase-content">
    <h2 class="fw-bold">
      Projet #1: Créer votre premier Application à partir de zero
    </h2>
    <h5>Tuteur : Mr Abdoulaye Niass</h5>
    <div>
      <h4 class="mb-2">Ce que vous allez créer</h4>
      <img src="../../../../assets/proj.png" class="img-fluid" alt="" />
    </div>
    <div class="text fs-5 text-black-80 mt-3">
      <p>
        The Lycée d'Excellence de Dakar is today the best high school in Senegal
        for its quality of education and its results. We wish to innovate and
        continue to remain the leader by optimizing the entire educational
        process of the students and offering visibility to parents and the
        administration.
        <br />
      </p>
      <p>
        Mr. Demba Sarr, the director of the school, has called upon a software
        developer to set up a management application for him. He would like to
        have the possibility to add classes in the system. For example: Terminal
        S1, Terminal S2, Terminal L1a, Terminal L2b. He can also modify or
        delete any information concerning the classes. <br />
      </p>
      <p>
        To facilitate enrollment in his school, he would also like to have a
        part in the application where he can add students and put them in a
        specific class. For example. He can register his daughter Penda Sarr in
        Terminal s2. <br />
      </p>
      <p>
        Finally, for a first version of this platform he will need a part where
        he can list all the students and classes existing in his school.
      </p>
      <h4 class="text-decoration-underline p-1">Instrustions</h4>
      <ol>
        <li>
          Ajouter sur github:
          <a href="https://github.com/AbdoulayeXYZ"> NiassAbdoulaye</a>
        </li>
        <li>Make an Angular page, for the moment no need to put a Backend</li>
        <li>
          Store the information in a table. The CRUD operations will be done in
          the table
        </li>
        <li>Put the project on Github</li>
        <li>
          Add on the Github project, a README file that documents the project
        </li>
        <li>Share the link of the Github project as an assignment</li>
      </ol>
    </div>
    <div>
      <input type="file" name="ajouter un fichier" id="" />
    </div>
  </div>
</div>
