.grid {
  display: grid;
  gap: 1rem;
}
.card {
  background-color: #b26df7;
  color: #fff;
  padding: 2rem 1rem;
  border-radius: 10px;
  border: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.box {
  width: 40px;
  height: 40px;
  padding: 2rem;
  color: #4646e7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #fff;
}

.card:nth-child(4) {
  background-color: #ee9170;
}

.card:nth-child(2) {
  background-color: #5af07a;
}
.card:nth-child(3) {
  background-color: #6e6cf9;
  color: #fff;
}
.card:nth-child(1) {
  background-color: #b26df7;
  color: #fff;
}
@media screen and (min-width: 650px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (min-width: 750px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
