<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center py-2">
    <h2>Manage Formateur</h2>
    <button class="btn btn-blue" (click)="toggleForm()">
      Ajouter un Formateur
    </button>
  </div>
  <form *ngIf="showForm">
    <div class="d-flex">
      <!-- forms group -->
      <div class="form-group mx-2" data-mdb-input-init>
        <input
          type="file"
          id="formControlLg"
          class="form-control form-control-lg"
          placeholder="Profile Image"
        />
      </div>
      <!-- forms group -->
      <div class="form-group" data-mdb-input-init>
        <input
          type="text"
          id="formControlLg"
          class="form-control form-control-lg"
          placeholder="FirstName"
        />
      </div>
      <!-- forms group -->
      <div class="form-group mx-2" data-mdb-input-init>
        <input
          type="text"
          id="formControlLg"
          class="form-control form-control-lg"
          placeholder="LastName"
        />
      </div>
      <!-- forms group -->
      <div class="form-group" data-mdb-input-init>
        <input
          type="email"
          id="formControlLg"
          class="form-control form-control-lg"
          placeholder="Email"
        />
      </div>

      <!-- forms group -->
      <div class="form-group mx-2" data-mdb-input-init>
        <input
          type="text"
          class="form-control form-control-lg"
          placeholder="Programe"
        />
      </div>
    </div>
  </form>

  <table class="table w-100 nowrap mt-4">
    <thead>
      <tr>
        <th>Profile</th>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail</th>
        <th>Programe</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <!-- first row -->
      <tr>
        <td class="table-user">
          <img
            src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="table-user"
            class="rounded-circle"
            width="40px"
            height="40px"
          />
        </td>
        <td>Tiger</td>
        <td>Nixon</td>
        <td>System Architect</td>
        <td>
          React js
          <img
            src="../../../../assets/image/icons8-react-native-48.png"
            width="35px"
            height="35px"
            class="mx-2"
            alt=""
          />
        </td>
        <td class="d-flex align-items-center fs-4">
          <div class="edit mx-2"><i class="bi bi-pencil-square"></i></div>
          <div class="delete"><i class="bi bi-trash3-fill"></i></div>
        </td>
      </tr>
      <!-- second  row -->
      <tr>
        <td class="table-user">
          <img
            src="https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="table-user"
            class="rounded-circle"
            width="40px"
            height="40px"
          />
        </td>
        <td>Tiger</td>
        <td>Nixon</td>
        <td>System Architect</td>
        <td>
          Angular
          <img
            src="../../../../assets/image/icons8-angular-48.png"
            width="35px"
            height="35px"
            class="mx-2"
            alt=""
          />
        </td>

        <td class="d-flex align-items-center fs-4">
          <div class="edit mx-2"><i class="bi bi-pencil-square"></i></div>
          <div class="delete"><i class="bi bi-trash3-fill"></i></div>
        </td>
      </tr>
      <!-- first row -->
      <tr>
        <td class="table-user">
          <img
            src="https://images.pexels.com/photos/1181519/pexels-photo-1181519.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="table-user"
            class="rounded-circle"
            width="40px"
            height="40px"
          />
        </td>
        <td>Tiger</td>
        <td>Nixon</td>
        <td>System Architect</td>
        <td>
          Python
          <img
            src="../../../../assets/image/icons8-python-48.png"
            width="35px"
            height="35px"
            class="mx-2"
            alt=""
          />
        </td>

        <td class="d-flex align-items-center fs-4">
          <div class="edit mx-2"><i class="bi bi-pencil-square"></i></div>
          <div class="delete"><i class="bi bi-trash3-fill"></i></div>
        </td>
      </tr>
      <!-- first row -->
      <tr>
        <td class="table-user">
          <img
            src="https://images.pexels.com/photos/428364/pexels-photo-428364.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="table-user"
            class="rounded-circle"
            width="40px"
            height="40px"
          />
        </td>
        <td>Tiger</td>
        <td>Nixon</td>
        <td>System Architect</td>
        <td>
          Tailwind
          <img
            src="../../../../assets/image/icons8-tailwind-css-48.png"
            width="35px"
            height="35px"
            class="mx-2"
            alt=""
          />
        </td>
        <td class="d-flex align-items-center fs-4">
          <div class="edit mx-2"><i class="bi bi-pencil-square"></i></div>
          <div class="delete"><i class="bi bi-trash3-fill"></i></div>
        </td>
      </tr>
      <!-- first row -->
      <tr>
        <td class="table-user">
          <img
            src="https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="table-user"
            class="rounded-circle"
            width="40px"
            height="40px"
          />
        </td>
        <td>Tiger</td>
        <td>Nixon</td>
        <td>System Architect</td>
        <td>
          Javascript
          <img
            src="../../../../assets/image/icons8-javascript-48.png"
            width="35px"
            height="35px"
            class="mx-2"
            alt=""
          />
        </td>
        <td class="d-flex align-items-center fs-4">
          <div class="edit mx-2"><i class="bi bi-pencil-square"></i></div>
          <div class="delete"><i class="bi bi-trash3-fill"></i></div>
        </td>
      </tr>
      <!-- first row -->
      <tr>
        <td class="table-user">
          <img
            src="https://images.pexels.com/photos/262391/pexels-photo-262391.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="table-user"
            class="rounded-circle"
            width="40px"
            height="40px"
          />
        </td>
        <td>Tiger</td>
        <td>Nixon</td>
        <td>System Architect</td>
        <td>
          Redux Tool
          <img
            src="../../../../assets/image/icons8-redux-48.png"
            width="35px"
            height="35px"
            class="mx-2"
            alt=""
          />
        </td>
        <td class="d-flex align-items-center fs-4">
          <div class="edit mx-2"><i class="bi bi-pencil-square"></i></div>
          <div class="delete"><i class="bi bi-trash3-fill"></i></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
