
<div class="card border-0 rounded-4 custom-shadow">
  <div class="card-body p-3 p-md-4 p-xl-5">
    <div class="row">
      <div class="col-12">
        <div class="mb-4">
          <h2 class="h3 text-center">Sign Up</h2>
          <h3 class="fs-6 fw-normal text-center text-secondary m-0">Create an account to unlock exclusive features</h3>
        </div>
      </div>
    </div>
    <form action="#!">
      <div class="row gy-2 overflow-hidden">
        <!-- full name -->
        <div class="col-12">
          <div class="mb-2">
            <label for="emailInput" class="form-label">Full Name</label>
            <input type="text" class="form-control form-control-lg" id="nameInput" placeholder="Enter your name">
          </div>
        </div>
        <!-- input email -->
        <div class="col-12">
          <div class="mb-2">
            <label for="emailInput" class="form-label">Email</label>
            <input type="email" class="form-control form-control-lg" id="emailInput" placeholder="Enter your name">
          </div>
        </div>
        <!-- input password -->
        <div class="col-12 divPassInput">
          <div class="mb-2">
            <label for="passInput" class="form-label">Password</label>
            <input type="text" class="form-control form-control-lg" id="passInput" placeholder="Enter your password">
            <i class="bi bi-eye-fill"></i>
          </div>
        </div>

        <div class="col-12 mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" name="iAgree" id="iAgree" required>
            <label class="form-check-label text-secondary" for="iAgree">
              I agree to the <a href="#!" class="style-links-forms">Terms of Use</a> and <a href="#!" class="style-links-forms">Privacy Policy</a>
            </label>
          </div>
        </div>
        <div class="col-12 mb-3">
          <div class="d-grid">
            <button class="btn btn-primary btn-lg p-2" type="submit">Sign up</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-12 mb-2">
        <div class="d-flex">
          <hr class="my-auto flex-grow-1">
            <div class="px-4 fw-normal">OR</div>
          <hr class="my-auto flex-grow-1">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="d-grid">
          <button class="btn btn-lg p-2 btn-google text-black" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
            <path fill="#fbc02d" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#e53935" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4caf50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1565c0" d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
            </svg> Sign up width Google</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex gap-2 gap-md-4 flex-md-row justify-content-md-center mt-4">
          <p class="m-0 text-secondary text-center">Already have an account?
            <a href="#!" class="style-links-forms fs-6">Login ↗</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
