<div
  class="accordion"
  id="accordionExample"
  *ngFor="let module of course.modules; let i = index"
>
  <!-- FIRST ITEM -->
  <div class="accordion-item">
    <h2 class="accordion-header" [attr.id]="'heading' + (i + 1)">
      <button
        class="accordion-button bg-white shadow-sm h5"
        type="button"
        data-bs-toggle="collapse"
        aria-expanded="true"
        [attr.data-bs-target]="'#collapse' + (i + 1)"
        aria-expanded="false"
        [attr.aria-controls]="'collapse' + (i + 1)"
      >
        Module {{ course.modules.indexOf(module) + 1 }}:
        {{ module.description }}
      </button>
    </h2>
    <div
      [attr.id]="'collapse' + (i + 1)"
      class="accordion-collapse collapse"
      [attr.aria-labelledby]="'heading' + (i + 1)"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <ul>
          <li>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <a href="#"><i class="bi bi-play-btn"></i> {{ module.name }}</a>
              </div>
              <div
                class="duration d-flex align-items-center justify-content-center"
              >
                <span> <a href="">Aperçu</a></span>
                <span>01:15</span>
                <div
                  class="label"
                  (click)="toggleChecked()"
                  [ngClass]="{ checked: isChecked }"
                >
                  <span><i class="bi bi-check"></i></span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <a href="#" class="text-black"
                  ><i class="bi bi-play-btn"></i> {{ module.description }}
                </a>
              </div>
              <div
                class="duration d-flex align-items-center justify-content-center"
              >
                <span> <a href="">Aperçu</a></span>
                <span>01:15</span>
                <div
                  class="label"
                  (click)="toggleChecked()"
                  [ngClass]="{ checked: isChecked }"
                >
                  <span><i class="bi bi-check-lg"></i></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
