@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  position: relative;
  height: 100%;
  padding: 1rem 2rem;
}
.nav-link {
  color: rgb(85, 83, 83s);
  font-size: 18px;
  font-weight: 500;
  text-wrap: nowrap;
}
.nav-link .bi {
  font-size: 14px;
}

ul li {
  padding: 1rem 1.3rem;
}
.nav-item {
  position: relative;
  padding: 0.5rem 1rem;
}
.active {
  background-color: #3636e5;
  color: #fff;
  border-radius: 15px;
}
.logout {
  position: absolute;
  bottom: 20px;
}
.logout {
  position: absolute;
  bottom: 20px;
}
.logo {
  color: #3636e5;
  font-weight: 600;
}
