input,
.btn-google {
  background-color: #f1f1f3;
}
input::placeholder {
  font-weight: 400;
  color: #656567;
  font-size: 14px;
}

label {
  font-weight: 500;
}

a,
button {
  font-size: 14px;
  font-weight: 400;
}

.style-links-forms {
  color: #656567;
  text-decoration: underline;
}

hr.hr-text {
  position: relative;
  border: none;
  height: 1px;
  background: #999;
}

hr.hr-text::before {
  content: attr(data-content);
  display: inline-block;
  background: #fff;
  font-weight: bold;
  font-size: 0.85rem;
  color: #999;
  border-radius: 30rem;
  padding: 0.2rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.2);
}

.divPassInput {
  position: relative;
}
