<div class="container py-5">
  <div class="row mt-4 pb-4">
    <div class="col-md-6">
      <img src="../../../../assets/image/test.svg" alt="" />
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="content text-center">
        <h1 class="mb-4">
          Test your React skills
          <img
            src="../../../../assets/image/icons8-react-native-48.png"
            alt=""
          />
        </h1>
        <h3>10 Questions</h3>
        <h5 class="mb-3">30 mn</h5>
        <button class="btn btn-primary p-2 fs-5" routerLink="/portal/questions">
          Faire le test
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
