<h5 class="py-4">
  <span><i class="bi bi-star-fill text-warning"></i></span> 4,6 note du Cours .
  850 votes
</h5>
<div class="row mt-3 g-4">
  <div class="col-md-6">
    <div class="d-flex justify-content-between">
      <div class="profile d-flex align-items-center">
        <img
          src="../../../../assets/user2.avif"
          alt=""
          class="align-self-start"
        />
        <div class="mx-3">
          <h6>John Doe</h6>
          <div class="text-warning">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <span>il y 1 mois</span>
        </div>
      </div>
      <div>
        <span><i class="bi bi-three-dots-vertical"></i></span>
      </div>
    </div>
    <div>
      <p class="mt-2 text-dark fs-5">Très Instructif</p>
      <div>
        est ce utile ?
        <i class="bi bi-hand-thumbs-up fs-5"></i>
        <i class="bi bi-hand-thumbs-down-fill fs-5"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex justify-content-between">
      <div class="profile d-flex align-items-center">
        <img
          src="../../../../assets/user3.avif"
          alt=""
          class="align-self-start"
        />
        <div class="mx-3">
          <h6>John Doe</h6>
          <div class="text-warning">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <span>il y 1 mois</span>
        </div>
      </div>
      <div>
        <span><i class="bi bi-three-dots-vertical"></i></span>
      </div>
    </div>
    <div>
      <p class="mt-2 text-dark fs-5">Très Instructif</p>
      <div>
        est ce utile ?
        <i class="bi bi-hand-thumbs-up fs-5"></i>
        <i class="bi bi-hand-thumbs-down-fill fs-5"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex justify-content-between">
      <div class="profile d-flex align-items-center">
        <img
          src="../../../../assets/user4.avif"
          alt=""
          class="align-self-start"
        />
        <div class="mx-3">
          <h6>Ben Hattaby</h6>
          <div class="text-warning">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <span>il y 1 mois</span>
        </div>
      </div>
      <div>
        <span><i class="bi bi-three-dots-vertical"></i></span>
      </div>
    </div>
    <div>
      <p class="mt-2 text-dark fs-5">Très Instructif</p>
      <div>
        est ce utile ?
        <i class="bi bi-hand-thumbs-up fs-5"></i>
        <i class="bi bi-hand-thumbs-down-fill fs-5"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex justify-content-between">
      <div class="profile d-flex align-items-center">
        <img
          src="../../../../assets/image.png"
          alt=""
          class="align-self-start"
        />
        <div class="mx-3">
          <h6>John Doe</h6>
          <div class="text-warning">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
          <span>il y 1 mois</span>
        </div>
      </div>
      <div>
        <span><i class="bi bi-three-dots-vertical"></i></span>
      </div>
    </div>
    <div>
      <p class="mt-2 text-dark fs-5">J'aime ce cours</p>
      <div>
        est ce utile ?
        <i class="bi bi-hand-thumbs-up fs-5"></i>
        <i class="bi bi-hand-thumbs-down-fill fs-5"></i>
      </div>
    </div>
  </div>
</div>
