<div class="topBanner">
    <div class="text">Free Courses 🌟 Sale Ends Soon, Get It Now</div>
    <div class="icon">
        <img src="assets/vector_stroke.svg" alt="" />
    </div>
</div>

<div class="navbar">
    <div class="container">
        <div class="logo">
            <div class="shape17">
                <img src="assets/logo_laptop.png" alt="Logo Zero_to_Hero" class="icon2" />
            </div>
        </div>

    <div class="buttonsContainer">
        <a href="#" class="button textButton">Home</a>
        <a href="#" class="textButton">Courses</a>
        <a href="#" class="textButton">About Us</a>
        <a href="#" class="textButton">Pricing</a>
        <a href="#" class="textButton">Contact</a>
      </div>
    </div>

    <div class="buttonsContainer2">
        <button class="text2">Sign Up</button>
        <button class="button2 text3">Login</button>
    </div>
  </div>