<div class="top-header text-center text-light py-2">
  <p class="top-header">
    Free Courses 🌟 Sale Ends Soon, Get It Now
    <i class="bi bi-arrow-right"></i>
  </p>
</div>
<!-- NAV BAR -->
<nav class="nav navbar navbar-expand-lg bg-light navbar-light">
  <div class="container">
    <a href="#" class="navbar-brand d-inline-block align-top logo"
      ><img
        src="../../../assets/logo_laptop.png"
        alt=""
        width="40px"
        height="40px"
    /></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-center flex-grow-1">
        <li class="nav-item active-link">
          <a href="#" class="nav-link active text-dark">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-dark">Courses</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-dark">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-dark" routerLink="/programs"
            >Programs</a
          >
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-dark" routerLink="/contact"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <div>
      <button class="btn btn-outline-primary mx-2 ms-auto">sign up</button>
      <button class="btn btn-primary mx-2">sign in</button>
      <button
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler border-0 fs-1 text-dark me-auto"
      >
        <i class="bi bi-filter-right"></i>
      </button>
    </div>
  </div>
</nav>
<!-- END OF THE NAV BAR -->
