/* TOP HEADER STYLING */
.top-header {
  background-color: #0083ff;
  font-family: Be Vietnam Pro, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.top-header p {
  margin-bottom: 0;
  font-size: 14px;
}
/* NAV STYLING */
.nav-item {
  color: #0000;
  font-size: 15px;
}
.nav {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.nav .navbar-toggler {
  border: 0;
  font-size: 2.2rem;
}

.nav .active-link {
  background-color: #e4e2e2;
  border-radius: 5px;
}
.logo {
  border: 1px solid #0083ff;
  border-radius: 5px;
  padding: 2px;
  box-shadow: rgba(62, 112, 229, 0.4) 0px 2px 4px,
    rgba(62, 139, 239, 0.3) 0px 7px 13px -3px,
    rgba(93, 107, 231, 0.2) 0px -3px 0px inset;
}
