<div class="container-fluid pt-4">
  <div class="rating fs-6 mb-2">
    <i class="bi bi-star-fill text-warning"></i>
    <i class="bi bi-star-fill text-warning"></i>
    <i class="bi bi-star-fill text-warning"></i>
    <i class="bi bi-star-fill text-warning"></i>
    <i class="bi bi-star-half text-warning"></i>
    150K
  </div>
  <h3>Plongez dans l'univers de la Technologie</h3>
  <div class="row">
    <!-- VIDEO INTRODUCTIVE -->
    <div class="col-md-9">
      <div class="video-content">
        <video controls>
          <source src="../../../../assets/video/reactjs.mp4" type="video/mp4" />
        </video>
      </div>
      <!-- FIN DE LA VIDEO -->
    </div>
    <div class="col-md-3">
      <div class="aside">
        <div class="card shadow mb-4">
          <div class="card-body py-5 px-4 bg-light">
            <h5>Votre Progression</h5>
            <div class="d-flex justify-content-between align-items-center">
              <p>3 Sessions</p>
              <p>30% compete</p>
            </div>
            <!-- LA BAR DE PROGRESSION-->
            <div style="height: 4px" class="progress">
              <div
                role="progressbar"
                aria-valuenow="30"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 30%; background-color: rgb(7, 163, 7)"
                class="progress-bar"
              ></div>
            </div>
            <!-- LES BOUTTONS -->
            <div class="btns mt-3">
              <button class="btn btn-primary d-block w-100 mb-4">
                Terminez le cour
              </button>
              <button class="btn btn-outline-primary d-block w-100">
                Module suivant
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <section class="course-content">
        <div class="row">
          <!-- les TABS -->
          <div class="text-dark">
            <app-tab-nav
              [tabsArr]="tabs"
              (onChangeTab)="changeTab($event)"
            ></app-tab-nav>
            <div>
              <!-- AFFICHE LE CONTENU TAB 1 -->
              <div *ngIf="activatedIndex == 0">
                <app-tab1></app-tab1>
              </div>
              <!-- AFFICHE LE CONTENU TAB 2 -->
              <div *ngIf="activatedIndex == 1">
                <app-tab2></app-tab2>
              </div>
              <!-- AFFICHE LE CONTENU TAB 3 -->
              <div *ngIf="activatedIndex == 2">
                <app-tab3></app-tab3>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-3">
      <!-- INFO SUR LE COURS -->
      <div class="card mb-4">
        <div class="card-body py-5 px-1">
          <ul>
            <li class="fw-semibold">Ce cours comprend :</li>
            <li>
              <i class="bi bi-play-btn"></i> Vidéo à la demande de 8 heures
            </li>
            <li>
              <i class="bi bi-file-earmark-arrow-down"></i> 12 ressources
              téléchargeables
            </li>
            <li><i class="bi bi-card-checklist"></i> Test de connaissances</li>
            <li><i class="bi bi-trophy"></i> Certificat de fin de formation</li>
          </ul>
          <!-- Regular progress bar-->
        </div>
      </div>
      <!-- LES PREREQUIS DU MODULE -->
      <div class="card mb-4 bg-light">
        <div class="card-body py-5 px-1">
          <ul>
            <li class="fw-semibold">Les Prerequis :</li>
            <li>Compréhension des bases Html et CSS.</li>
            <li>
              Maitrise des bases de JavaScript (variables, boucles, fonctions,
              conditions).
            </li>
            <li>Familiarité avec les nouvelles fonctionnalités d'ES6</li>
            <li><i class="bi bi-trophy"></i> Certificat de fin de formation</li>
          </ul>
          <!-- Regular progress bar-->
        </div>
      </div>
      <!-- FIN -->
    </div>
  </div>
</div>
<app-suggestion></app-suggestion>
<app-footer></app-footer>
