<app-header></app-header>
<section class="p-4">
  <div class="container">
    <h2 class="text-center">Choose the plan that's right for you</h2>
    <div class="row g-4 mt-3">
      <div class="col-lg-4 col-md-6 py-4 price-info">
        <div class="price-plan text-center">
          <h6 class="fs-5 py-1">Basic</h6>
        </div>
        <div class="text-center">
          <h4 class="price">$7/month</h4>
          <h5>Available Features</h5>
        </div>
        <ul>
          <li>
            <span class="checked fs-5"><i class="bi bi-check2"></i></span>
            Access to selected Free Courses
          </li>
          <li>
            <span class="checked fs-5"><i class="bi bi-check2"></i></span>
            Limited course materials and resources.
          </li>
          <li>
            <span class="checked fs-5"><i class="bi bi-check2"></i></span> Basic
            community support.
          </li>
          <li>
            <i class="bi bi-x-lg text-danger fs-5"></i>No certification upon
            completion.
          </li>
          <li>
            <i class="bi bi-x-lg text-danger fs-5"></i>Ad-supported platform.
          </li>
          <li>
            <i class="bi bi-x-lg text-danger fs-5"></i>Access to playground for
            practice.
          </li>
          <li>
            <i class="bi bi-x-lg text-danger fs-5"></i>Early access to new
            courses and updates.
          </li>
        </ul>
        <div>
          <button class="btn btn-outline-primary w-100 mt-4">
            Select Plan
          </button>
        </div>
      </div>
      <!-- SECOND COLUMN -->
      <div class="col-lg-4 col-md-6 py-4 bg-light price-info">
        <div class="price-plan text-center">
          <h6 class="fs-5 py-1">Standard</h6>
        </div>
        <div class="text-center">
          <h4 class="price">$12/month</h4>
          <h5>Available Features</h5>
        </div>
        <ul>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>
            Unlimited access to all courses.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>
            Unlimited course materials and resources.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>
            Priority support from instructors.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>Course completion
            certificates.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>Access to playground for
            practice.
          </li>
          <li>
            <i class="bi bi-x-lg text-danger fs-5"></i>
            Access to exclusive Pro Plan community forums.
          </li>
          <li>
            <i class="bi bi-x-lg text-danger fs-5"></i>
            Early access to new courses and updates.
          </li>
        </ul>
        <div>
          <button class="btn btn-primary w-100 mt-4">Select Plan</button>
        </div>
      </div>
      <!-- THIRD COLUMN -->
      <div class="col-lg-4 col-md-6 py-4 price-info">
        <div class="price-plan text-center">
          <h6 class="fs-5 py-1">Premium</h6>
        </div>
        <div class="text-center">
          <h4 class="price">$19/month</h4>

          <h5>Available Features</h5>
        </div>
        <ul>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>
            Access to selected Free Courses
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>
            Limited course materials and resources.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i> Basic community support.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i> No certification upon
            completion.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i> Ad-supported platform.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i> Access to playground for
            practice.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i> Early access to new
            courses and updates.
          </li>
        </ul>
        <div>
          <button class="btn btn-outline-primary w-100 mt-4">
            Select Plan
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
