/* Pricing styling */
.cart {
  background: #ffff;
  padding: 0.8rem;
  line-height: 1.5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
}
.cart .cart-btn {
  color: #0013ff;
  border: none;
  padding: 0.4rem;
  font-weight: 700;
  border-radius: 5px;
}

.bi-check2-circle {
  background-color: #0013ff;
  color: #fff;
  border-radius: 50%;
}
.price-info {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  cursor: pointer;
  padding: 2rem 1rem;
}
.price-plan {
  border-radius: 5px;
  background-color: rgba(148, 201, 251, 0.8);
  margin-bottom: 10px;
}
.checked {
  color: #0013ff;
  font-size: 1em;
}
