<nav class="nav navbar navbar-expand-lg align-items-center">
  <a class="navbar-brand" href="#">
    <img
      src="../../../../assets/logo_laptop.png"
      width="30"
      height="30"
      alt=""
    />
  </a>
  <div class="container d-flex justify-content-between">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex">
        <li class="nav-item active-link">
          <a href="#" class="nav-link active text-dark">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark">MarketPlace</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-dark">Categories</a>
        </li>
      </ul>
    </div>
    <div class="user-info d-flex justify-content-center align-items-center">
      <div class="d-flex search me-auto">
        <input
          type="search"
          name="search"
          id=""
          placeholder="Rechercher un cours"
        />
        <i class="bi bi-search"></i>
      </div>

      <i class="fs-4 bi bi-cart3 mx-2 text-primary"></i> (0)
      <i class="fs-4 bi bi-bell mx-4"></i>
      <div class="user-profile fs-5 mx-2">
        <img
          src="../../../../assets/image/user-1.jpg"
          width="48px"
          height="48px"
          class="rounded-circle"
        />
      </div>
      <i class="bi bi-caret-down-fill fs-5"></i>
    </div>
  </div>
</nav>
