<div class="container-fluid">
  <form *ngIf="showForm">
    <div class="d-flex">
      <!-- forms group -->
      <div class="form-group" data-mdb-input-init>
        <input
          type="text"
          id="formControlLg"
          class="form-control form-control-lg"
          placeholder="Full Name"
        />
      </div>
      <!-- forms group -->
      <div class="form-group" data-mdb-input-init>
        <input
          type="email"
          id="formControlLg"
          class="form-control form-control-lg"
          placeholder="Email"
        />
      </div>

      <!-- forms group -->
      <div class="form-group mx-2" data-mdb-input-init>
        <input
          type="text"
          class="form-control form-control-lg"
          placeholder="Type"
        />
      </div>
      <!-- forms group -->
      <div class="form-group mx-2" data-mdb-input-init>
        <input
          type="text"
          class="form-control form-control-lg"
          placeholder="Premium"
        />
      </div>
    </div>
  </form>
</div>
