.table {
  border-collapse: collapse;
  margin: 0;
  font-size: 1em;
  min-width: 850px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.table thead tr {
  background-color: #921d21;
  color: #fff;
  text-align: left;
  border-radius: 15px;
}
.table td {
  padding: 15px 10px;
}
.table th,
.table tr {
  padding: 20px 10px;
}
.table tbody tr {
  border-bottom: 2px solid #dddd;
}
.table tbody .even {
  background-color: #b9b8b8;
}
.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.flex {
  display: flex;
  gap: 1rem;
}
.edit {
  color: #0ad66d;
}
.delete {
  color: red;
}
.btn-blue {
  background-color: #3636e5;
  color: #fff;
}
