<div class="container">
  <div class="row">
    <div class="col mx-auto mb-4" style="max-width: 600px;">
      <h3 class="testimonial-title">Students Testimonials</h3>
      <p class="testimonial-text d-none d-md-block">
        Discover the inspiring journeys of our students who have met the challenges to become heroes in their field thanks to our platform.
        Their authentic testimonials illustrate the exhilarating achievements that await you on this "From Zero to Hero" path.
      </p>
    </div>
  </div>
</div>
<div id="testimonialCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- carousel item 1 -->
    <div class="carousel-item active">
      <div class="card mx-auto shadow" style="max-width: 600px;">
        <div class="card-body p-5">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tortor nec odio eleifend volutpat.
            Nam quis velit sit amet ipsum fringilla mattis. Cras porttitor arcu eget ultricies auctor.
          </p>
        </div>
        <div class="card-footer d-flex align-items-center">
          <img src="./assets/mon_avatar.jpg" alt="Image" class="rounded-circle" style="width: 50px; height: 50px;">
          <span class="fw-bold mx-2">Nassir</span>
          <button class="btn btn-primary ms-auto ps-2">Read full story</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card mx-auto shadow" style="max-width: 600px;">
        <div class="card-body p-5">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tortor nec odio eleifend volutpat.
            Nam quis velit sit amet ipsum fringilla mattis. Cras porttitor arcu eget ultricies auctor.
          </p>
        </div>
        <div class="card-footer d-flex align-items-center">
          <img src="./assets/mon_avatar.jpg" alt="Image" class="rounded-circle" style="width: 50px; height: 50px;">
          <span class="fw-bold mx-2">Nassir</span>
          <button class="btn btn-primary ms-auto ps-2">Read full story</button>
        </div>
      </div>
    </div>
  </div>
  <!-- left -->
  <button class="carousel-control-prev custom-shadow" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
    <i class="bi bi-arrow-left icon-arrow-left"></i>
  </button>
  <!-- right -->
  <button class="carousel-control-next custom-shadow" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
      <i class="bi bi-arrow-right icon-arrow-right"></i>
  </button>
</div>
