.custom-margin {
  margin-right: 15px;
}
section {
  background-image: url(../../../../assets/paiments/pay.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.form {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
