<section class="py-2 py-md-4 py-xl-4">
  <div class="container">
    <div class="row gy-4 mt-3 flex-lg-row mb-4">
      <!-- Section testimonial -->
      <div class="col-12 col-md-6 col-xl-6 d-flex align-items-start">
        <h3>About DigitalRise</h3>
      </div>
      <!-- Section form -->
      <div class="col-12 col-md-6 col-xl-6 mt-0">
        <p>
          Lorem ipsum dolor sit amet consectetur. Viverra quis malesuada scelerisque magnis risus pretium aenean tincidunt.
          Ullamcorper quis nisl suspendisse est arcu. Vitae purus scelerisque arcu dictumst fames fusce.
          Facilisis quis augue
        </p>
      </div>
      <hr>
    </div>

    <!-- row ACHIEVEMENTS -->
    <div class="row flex-lg-column mb-4">
      <div class="col-12 col-md-6 col-xl-6">
        <h5>Achievements</h5>
      </div>
      <!-- Section form -->
      <div class="col-12 col-md-6 col-xl-6">
        <p>
          Lorem ipsum dolor sit amet consectetur. Viverra quis malesuada scelerisque magnis risus pretium aenean tincidunt.
          Ullamcorper quis nisl suspendisse est arcu. Vitae purus scelerisque arcu dictumst fames fusce.
          Facilisis quis augue
        </p>
      </div>
    </div>

    <div class="row gy-4 mb-3">
      <div class="col-md-6">
        <div class="card custom-shadow">
          <div class="card-body">
            <div class="icon-box bg-custom">
              <i class="bi bi-trophy-fill text-primary fs-4"></i>
            </div>
            <h4>Trusted by Thousands</h4>
            <p>Description de la carte.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card custom-shadow">
          <div class="card-body">
            <div class="icon-box bg-custom">
              <i class="bi bi-award-fill text-primary fs-4"></i>
            </div>
            <h4>Award-Winning Courses</h4>
            <p>Description de l'autre carte.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-4 mb-4">
      <div class="col-md-6">
        <div class="card custom-shadow">
          <div class="card-body">
            <div class="icon-box bg-custom">
              <i class="bi bi-people-fill text text-primary fs-4"></i>
            </div>
            <h4>Positive Students Feedback</h4>
            <p>Description de la carte.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card custom-shadow">
          <div class="card-body">
            <div class="icon-box bg-custom">
              <i class="bi bi-shield-fill-check text-primary fs-4"></i>
            </div>
            <h4>Industry Partnerships</h4>
            <p>Description de l'autre carte.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /end row -->

    <!-- row OUR GOALS -->
    <div class="row flex-lg-column mb-4">
      <div class="col-12 col-md-6 col-xl-6">
        <h5>Our Goals</h5>
      </div>
      <!-- Section form -->
      <div class="col-12 col-md-6 col-xl-6">
        <p>
          Lorem ipsum dolor sit amet consectetur. Viverra quis malesuada scelerisque magnis risus pretium aenean tincidunt.
          Ullamcorper quis nisl suspendisse est arcu. Vitae purus scelerisque arcu dictumst fames fusce.
          Facilisis quis augue
        </p>
      </div>
    </div>
    <div class="row gy-4 mb-3">
      <div class="col-md-6">
        <div class="card custom-shadow">
          <div class="card-body">
            <div class="icon-box bg-custom">
              <i class="bi bi-backpack-fill text-primary fs-4"></i>
            </div>
            <h4>Provide Practical Skills</h4>
            <p>Description de la carte.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card custom-shadow">
          <div class="card-body">
            <div class="icon-box bg-custom">
              <i class="bi bi-book-half text-primary fs-4"></i>
            </div>
            <h4>Foster Creative Problem-Solving</h4>
            <p>Description de l'autre carte.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-4 mb-4">
      <div class="col-md-6">
        <div class="card custom-shadow">
          <div class="card-body">
            <div class="icon-box bg-custom">
              <i class="bi bi-puzzle-fill text-primary fs-4"></i>
            </div>
            <h4>Promote Collaboration and Community</h4>
            <p>Description de la carte.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card custom-shadow">
          <div class="card-body">
            <div class="icon-box bg-custom">
              <i class="bi bi-stars text-primary fs-4"></i>
            </div>
            <h4>Stay Ahead of the Curve</h4>
            <p>Description de l'autre carte.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /end row -->

    <!-- row TOGETHER -->
    <div class="row gy-4 mb-4 mt-1 d-none d-md-block">
      <div class="col-md-12">
        <div class="card custom-shadow">
          <div class="card-body">
            <div class="row gx-4 align-items-center">

              <div class="col-md-10 position-relative">
                <div class="div-shape"><img src="assets/abstract-design-icon.svg" alt="" class="icon" /></div>
                <div>
                  <h4>
                    <span class="text-primary fw-bold">Together</span>, let's create the futur of programming
                  </h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing
                  </p>
                </div>
              </div>

              <div class="col-md-2">
                <a href="#" class="btn btn-primary w-100">Join now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /end row -->

     <!-- row TOGETHER on mobile -->
     <div class="row gy-4 mb-4 mt-1 d-md-none">
      <div class="col-md-12">
        <div class="card custom-shadow">
          <div class="card-body">
            <div class="row gx-4 align-items-center">

              <div class="col-md-10 position-relative">
                <div>
                  <h4>
                    <span class="text-primary fw-bold">Together</span>, let's create the futur of programming
                  </h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing
                  </p>
                </div>
              </div>

              <div class="col-md-2">
                <a href="#" class="btn btn-primary w-100">Join now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /end row -->

  </div>
</section>


