.module_card {
  padding: 1.3rem 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.module_card:hover {
  transform: scale(1.1);
  overflow: hidden;
}
.chevron {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #033c65;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #fff;
}
