<div class="container py-3">
  <div class="quizz-box p-4 bg-white rounded-2">
    <div class="quizz-header d-flex">
      <div class="logo">
        <i class="bi bi-rocket-takeoff-fill fs-1"></i>
      </div>
      <div class="info mx-3">
        <h3 class="fs-4">10 Questions</h3>
        <p>Durée:15mn</p>
        <p>2 tentaives</p>
      </div>
    </div>
    <div class="questions mt-3">
      <h5>
        1. Quelle commande est utilisée pour créer un nouveau projet Angular ?
      </h5>
      <div class="quizz-list mt-4">
        <div class="quizz-item">
          <input type="radio" name="" id="radio1" />
          <label for="radio1"> A. npm create angular-app</label>
        </div>
        <div class="quizz-item">
          <input type="radio" name="" id="radio2" />
          <label for="radio2">B. ng new project-name</label>
        </div>
        <div class="quizz-item">
          <input type="radio" name="" id="radio3" />
          <label for="radio3">C. angular init project-name</label>
        </div>
        <div class="quizz-item">
          <input type="radio" name="" id="radio5" />
          <label for="radio5">D. npm start angular</label>
        </div>
      </div>
      <button class="btn d-block mt-4">Suivant</button>
    </div>
  </div>
</div>
