<section>
  <div class="container py-5">
    <div class="row">
      <!-- LEFT CONTENT -->
      <article class="col-lg-6 order-lg-1 order-2">
        <div class="left-content">
          <h1 class="mb-3">
            Découvrez les Compétences du Futur avec Nos Programmes de Formation
          </h1>
          <p>
            En rejoignant notre plateforme, vous allez non seulement acquérir
            des compétences techniques de pointe, mais aussi développer une
            compréhension approfondie des meilleures pratiques de l'industrie.
            Préparez-vous à transformer votre avenir professionnel avec nos
            programmes de formation de classe mondiale.
          </p>
          <button class="btn btn-primary">Voir notre Programme</button>
        </div>
      </article>
      <!-- RIGHT CONTENT -->
      <article class="col-lg-6 order-lg-2 order-1">
        <div class="rigth-content">
          <img
            src="../../../../assets/student1.webp"
            alt=""
            class="img-fluid rounded-3"
          />
        </div>
      </article>
    </div>
  </div>
</section>
<!-- FORMATION SECTION -->
<section>
  <div class="container py-5">
    <h2 class="mb-5">Nos Formations Disponible</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../../assets/programe/react.jpg"
            class="card-img-top rounded-4"
            alt="Course Image"
          />
          <div class="card-body">
            <h6 class="card-title">Master React js / 12 semaines</h6>
            <p class="author">Mr Djigo</p>
            <div class="card-info d-flex justify-content-between">
              <!-- FIRST ITEM  -->
              <div class="rating">
                <h6>
                  4.6 <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-half text-warning"></i> (3.045)
                </h6>

                <div class="py-2">
                  <i class="bi bi-bar-chart-line"></i> Débutant
                </div>
              </div>
              <!-- SECOND ITEM -->
              <div>
                <p><i class="bi bi-person-video3"></i> + 4h de contenu video</p>

                <p><i class="bi bi-ui-checks"></i> 14 Exercices Pratique</p>
              </div>
              <!-- END OF THE POSITIONING -->
            </div>
          </div>
        </div>
      </div>
      <!-- THIS CONTENT SHOULD BE DYNAMIC  -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../../assets/programe/py.png"
            class="card-img-top rounded-4"
            alt="Course Image"
          />
          <div class="card-body">
            <h6 class="card-title">
              Master React js Full course / 12 semaines
            </h6>
            <p class="author">Mr Djigo</p>
            <div class="card-info d-flex justify-content-between">
              <!-- FIRST ITEM  -->
              <div class="rating">
                <h6>
                  4.5 <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-half text-warning"></i> (5.045)
                </h6>

                <div class="py-2">
                  <i class="bi bi-bar-chart-line"></i> Débutant
                </div>
              </div>
              <!-- SECOND ITEM -->
              <div>
                <p><i class="bi bi-person-video3"></i> + 4h de contenu video</p>

                <p><i class="bi bi-ui-checks"></i> 14 Exercices Pratique</p>
              </div>
              <!-- END OF THE POSITIONING -->
            </div>
          </div>
        </div>
      </div>

      <!-- THIS CONTENT SHOULD BE DYNAMIC -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../../assets/programe/ui&ux.avif"
            class="card-img-top rounded-4"
            alt="Course Image"
          />
          <div class="card-body">
            <h6 class="card-title">Introduction to Python / 4 semaines</h6>
            <p class="author">Mr Khoussa</p>
            <div class="card-info d-flex justify-content-between">
              <!-- FIRST ITEM  -->
              <div class="rating">
                <h6>
                  4.3 <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-half text-warning"></i> (4.075)
                </h6>

                <div class="py-2">
                  <i class="bi bi-bar-chart-line"></i> Débutant
                </div>
              </div>
              <!-- SECOND ITEM -->
              <div>
                <p><i class="bi bi-person-video3"></i> + 4h de contenu video</p>

                <p><i class="bi bi-ui-checks"></i> 14 Exercices Pratique</p>
              </div>
              <!-- END OF THE POSITIONING -->
            </div>
          </div>
        </div>
      </div>

      <!-- THIS CONTENT SHOULD BE DYNAMIC -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../../assets/programe/node.jpeg"
            class="card-img-top rounded-4"
            alt="Course Image"
          />
          <div class="card-body">
            <h6 class="card-title">Explore node js / 6 Month</h6>
            <p class="author">Mr Biteye</p>
            <div class="card-info d-flex justify-content-between">
              <!-- FIRST ITEM  -->
              <div class="rating">
                <h6>
                  4.6 <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-half text-warning"></i> (4.045)
                </h6>

                <div class="py-2">
                  <i class="bi bi-bar-chart-line"></i> Intermédaire
                </div>
              </div>
              <!-- SECOND ITEM -->
              <div>
                <p><i class="bi bi-person-video3"></i> + 4h de contenu video</p>

                <p><i class="bi bi-ui-checks"></i> 14 Exercices Pratique</p>
              </div>
              <!-- END OF THE POSITIONING -->
            </div>
          </div>
        </div>
      </div>
      <!-- SHOULD BE DYNAMIC -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../../assets/programe/webdev.jpg"
            class="card-img-top rounded-4"
            alt="Course Image"
          />
          <div class="card-body">
            <h6 class="card-title">Web developement / 3 semaines</h6>
            <p class="author">Mrs Ngom</p>
            <div class="card-info d-flex justify-content-between">
              <!-- FIRST ITEM  -->
              <div class="rating">
                <h6>
                  4.6 <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-half text-warning"></i> (10.045)
                </h6>

                <div class="py-2">
                  <i class="bi bi-bar-chart-line"></i> Débutant
                </div>
              </div>
              <!-- SECOND ITEM -->
              <div>
                <p><i class="bi bi-person-video3"></i> + 4h de contenu video</p>

                <p><i class="bi bi-ui-checks"></i> 14 Exercices Pratique</p>
              </div>
              <!-- END OF THE POSITIONING -->
            </div>
          </div>
        </div>
      </div>
      <!-- SHOULD BE DYNAMIC -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../../assets/programe/ja.jpg"
            class="card-img-top rounded-4"
            alt="Course Image"
          />
          <div class="card-body">
            <h6 class="card-title">Introduction to Java / 4 Month</h6>
            <p class="author">Mr Niass</p>
            <div class="card-info d-flex justify-content-between">
              <!-- FIRST ITEM  -->
              <div class="rating">
                <h6>
                  4.6 <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-half text-warning"></i> (3.045)
                </h6>

                <div class="py-2">
                  <i class="bi bi-bar-chart-line"></i> Advance
                </div>
              </div>
              <!-- SECOND ITEM -->
              <div>
                <p><i class="bi bi-person-video3"></i> + 4h de contenu video</p>

                <p><i class="bi bi-ui-checks"></i> 14 Exercices Pratique</p>
              </div>
              <!-- END OF THE POSITIONING -->
            </div>
          </div>
        </div>
      </div>
      <!--THIS SHOULD BE DYNAMIC -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../../assets/programe/javascript.jpeg"
            class="card-img-top"
            alt="Course Imagerounded-4"
          />
          <div class="card-body">
            <h6 class="card-title">learn javascript / 12 semaines</h6>
            <p class="author">Mr Hattaby</p>
            <div class="card-info d-flex justify-content-between">
              <!-- FIRST ITEM  -->
              <div class="rating">
                <h6>
                  4.6 <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-half text-warning"></i> (3.045)
                </h6>

                <div class="py-2">
                  <i class="bi bi-bar-chart-line"></i> Débutant
                </div>
              </div>
              <!-- SECOND ITEM -->
              <div>
                <p><i class="bi bi-person-video3"></i> + 4h de contenu video</p>

                <p><i class="bi bi-ui-checks"></i> 14 Exercices Pratique</p>
              </div>
              <!-- END OF THE POSITIONING -->
            </div>
          </div>
        </div>
      </div>
      <!--THIS SHOULD BE DYNAMIC -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../../assets/programe/api.png"
            class="card-img-top rounded-4"
            alt="Course Image"
          />
          <div class="card-body">
            <h6 class="card-title">Work with API / 2 semaines</h6>
            <p class="author">Mr Seck</p>
            <div class="card-info d-flex justify-content-between">
              <!-- FIRST ITEM  -->
              <div class="rating">
                <h6>
                  4.6 <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-half text-warning"></i> (3.045)
                </h6>

                <div class="py-2">
                  <i class="bi bi-bar-chart-line"></i> Débutant
                </div>
              </div>
              <!-- SECOND ITEM -->
              <div>
                <p><i class="bi bi-person-video3"></i> + 4h de contenu video</p>

                <p><i class="bi bi-ui-checks"></i> 14 Exercices Pratique</p>
              </div>
              <!-- END OF THE POSITIONING -->
            </div>
          </div>
        </div>
      </div>
      <!--THIS SHOULD BE DYNAMIC -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            src="../../../../assets/programe/cloud.jpeg"
            class="card-img-top rounded-4"
            alt="Course Image"
          />
          <div class="card-body">
            <h6 class="card-title">Cloud Computing / 12 semaines</h6>
            <p class="author">Mrs Mbodj</p>
            <div class="card-info d-flex justify-content-between">
              <!-- FIRST ITEM  -->
              <div class="rating">
                <h6>
                  4.6 <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-half text-warning"></i> (3.045)
                </h6>

                <div class="py-2">
                  <i class="bi bi-bar-chart-line"></i> Débutant
                </div>
              </div>
              <!-- SECOND ITEM -->
              <div>
                <p><i class="bi bi-person-video3"></i> + 4h de contenu video</p>

                <p><i class="bi bi-ui-checks"></i> 14 Exercices Pratique</p>
              </div>
              <!-- END OF THE POSITIONING -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
