<!-- FIRST SECTION -->
<app-header></app-header>
<section class="first-section">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-12 col-md-8">
        <div class="left-content">
          <p class="icon-text">
            Ce cours vous guidera à travers les concepts fondamentaux de React
          </p>
          <h1 class="mb-6 fs-2">
            Plongez dans l'univers de React Js
            <img
              src="../../../../assets/image/icons8-react-native-48.png"
              alt=""
            />
          </h1>
          <p class="text-light line-height">
            Rejoignez-nous et transformez votre façon de développer des
            interfaces utilisateur. <br />
            Avec React, donnez vie à vos idées et créez des expériences
            utilisateur exceptionnelles.
          </p>
          <!-- RATINGS -->
          <div class="d-lg-flex">
            <!-- COURSE RATING -->
            <div>
              <div class="rating fs-6 mb-3">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-half text-warning"></i>
                150K
              </div>
              <!-- COURSE LEVEL -->
              <div class="icon-text">
                <i class="bi bi-bar-chart-line"></i> Débutant
              </div>
            </div>
            <!-- COURSE OFFERS -->
            <div class="mx-lg-3 icon-text">
              <i class="bi bi-patch-check mb-3"></i> Certificat
              <div class="mt-3">
                <i class="bi bi-calendar4-week"></i> 12 Semaines
              </div>
            </div>
            <div class="mx-lg-3 icon-text">
              <i class="bi bi-person-video3"></i> + 4h de contenu video
              <div class="mt-3">
                <i class="bi bi-ui-checks"></i> 14 Exercices Pratique
              </div>
            </div>
          </div>
          <button class="enroll-btn">Enroll now</button>
        </div>
      </div>
      <!-- PRICING DETAILS CARD -->
      <div class="col-md-4 me-auto d-none d-lg-block">
        <div class="card p-1">
          <img
            src="../../../../assets/programe/react.jpg"
            class="card-img-top"
            alt="Course Image"
          />
          <div class="card-body">
            <h5 class="card-price">99000 XOF</h5>

            <a href="#" class="btn btn-primary w-100 d-block mb-3"
              >Acheter maintenant</a
            >
            <a href="#" class="btn btn-outline-primary w-100"
              >Gratuit pour les membres</a
            >
            <h6 class="mt-4">Paiement securisé</h6>
            <div class="card-paiment d-flex align-items-center gx4">
              <img
                src="../../../../assets/paiments/paypal.png"
                class="m-2"
                alt=""
              />
              <img src="../../../../assets/paiments/visa.png" alt="" />
              <img
                src="../../../../assets/paiments/mastercard.png"
                class="m-2"
                alt=""
              />
              <img
                src="../../../../assets/paiments/wave.png"
                alt=""
                width="40px"
                height="40px"
                class="m-2"
              />
              <img
                src="../../../../assets/paiments/orangeMoney.png"
                alt=""
                width="48px"
                height="48px"
              />
            </div>
            <p class="text-black-50">7-Jours garantis satisfait ou Remboursé</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SECOND SECTION -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>A Propos de ce cours</h3>
        <p>
          React.js, souvent simplement appelé React, est une bibliothèque
          JavaScript open-source utilisée pour construire des interfaces
          utilisateur. Créée par Facebook, elle est devenue l'une des
          technologies les plus populaires pour le développement front-end.
          Voici ce que vous devez savoir sur React.js :
        </p>
      </div>
    </div>
  </div>
</section>
<!-- THIRD SECTION -->
<section>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6">
        <h4>Course guide</h4>
        <ul class="accordion timeline" id="accordionExample">
          <li>
            <div class="accordion-item">
              <h2 class="accordion-heading" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Module 1: Introduction to react
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <ul>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i> Qu'est ce
                      que React js
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i> Concepts de
                      base : composants, état, props.
                    </li>

                    <li>
                      <i class="bi bi-check text-success fs-4"></i>
                      Configuration de l'environnement avec Create React App.
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>
                      Syntaxe et utilisation de JSX
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>
                      Fonctionnels vs Class components.
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i> Props et
                      composition de composants
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Module 2: Gestion de l'État et des Événements
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <ul>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>useState Hook
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>Introduction
                      et utilisation de useState.
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>
                      Gestion des événements utilisateur (onClick, onChange..).
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>
                      Utilisation de useEffect pour les effets de bord
                      (fetching...).
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Module 3 : Interaction avec les APIs
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <ul>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>Utilisation
                      du contexte pour gérer l'état global.
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>Gestion de
                      l'état complexe avec useReducer.
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>Rendu de
                      listes avec map et importance des clés.
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>
                      Utilisation de fetch et axios pour récupérer des données
                      d'une API.
                    </li>
                    <li>Gestion des états de chargement et des erreurs.</li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Module 5 : Projets Pratiques
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <ul>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>Todo List
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>Compteur
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>Galerie
                      d'Images
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>Application
                      de Notes
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>API de
                      Recherche
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Module 4 : Optimisation et Performance
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <ul>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>
                      Utilisation de React.memo, useMemo, useCallback pour
                      optimiser les performances.
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>
                      Utilisation de React DevTools pour analyser les
                      performances des composants.
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>
                      Configuration des routes, liens et navigation dynamique.
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>Introduction
                      à Redux, actions, réducteurs et store.
                    </li>
                    <li>
                      <i class="bi bi-check text-success fs-4"></i>Gestion des
                      états de chargement et des erreurs.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
