<!-- Navbar-->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="nav-brand">
      <h3>Overview</h3>
    </div>

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item dropdown me-3 me-lg-1">
        <a
          data-mdb-dropdown-init
          class="nav-link dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          aria-expanded="false"
        >
          <i class="bi bi-chat-dots-fill fs-3"></i>

          <span class="badge rounded-pill badge-notification bg-danger">6</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown me-3 me-lg-1">
        <a
          data-mdb-dropdown-init
          class="nav-link dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          aria-expanded="false"
        >
          <i class="bi bi-bell-fill fs-3"></i>
          <span class="badge rounded-pill badge-notification bg-danger"
            >12</span
          >
        </a>
      </li>
      <div class="user-profile fs-5 mx-2">
        <img
          src="../../../../assets/image/user-1.jpg"
          width="40px"
          height="40px"
          class="rounded-circle"
        />
      </div>
    </ul>

    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->
