<!-- Navbar-->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="nav-brand">
      <h3>Overview</h3>
    </div>

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item dropdown me-3 me-lg-1">
        <a
          data-mdb-dropdown-init
          class="nav-link dropdown-toggle hidden-arrow"
          id="navbarDropdownMenuLink"
          role="button"
          aria-expanded="false"
        >
          <i class="bi bi-bell-fill fs-3"></i>
          <span class="badge rounded-pill badge-notification bg-danger"
            >12</span
          >
        </a>
      </li>

      <li class="nav-item dropdown" (click)="toggleDropdown()">
        <a
          id="dropdownMenuButton"
          [attr.aria-expanded]="isDropdownOpen ? 'true' : 'false'"
          data-mdb-dropdown-init
          class="nav-link dropdown-toggle hidden-arrow fs-5"
          href="#"
        >
          <span class="user-profile">
            <img
              src="../../../../assets/image/user-1.jpg"
              width="40px"
              height="40px"
              class="rounded-circle"
            />
          </span>
        </a>
        <ul
          class="dropdown-menu"
          [ngClass]="{ show: isDropdownOpen }"
          aria-labelledby="dropdownMenuButton"
        >
          <li class="border-bottom-1">
            <a class="dropdown-item" routerLink="/admin/add-cours">Admin</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/admin/add-formateur"
              >Formateur</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <!-- Right elements -->
  </div>
</nav>
<!-- Navbar -->
