<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-4 align-items-center flex-column-reverse flex-lg-row">
      <!-- Section testimonial -->
      <div class="col-12 col-md-6 col-xl-7">
        <!-- Testimonial component -->
        <app-testimonial></app-testimonial>
      </div>
      <!-- Section form -->
      <div class="col-12 col-md-6 col-xl-5">
        <!-- Formulaire component -->
        <app-form-login></app-form-login>
      </div>
    </div>
  </div>
</section>
