
    <div class="textContainer">
        <div class="heading">Login</div>
        <div class="paragraph">Welcome back! Please log in to access your account.</div>
    </div>
    <div class="form">
        <div class="container">
            <div class="subContainer">
                <label class="heading2" for="email">Email</label>
                <input class="inputField" type="email" id="email" placeholder="Enter your Email">
            </div>
            <div class="subContainer2">
                <label class="heading3" for="password">Password</label>
                <input class="inputField2" type="password" id="password" placeholder="Enter your Password">
                <a class="textButton" href="#">Forgot Password?</a>
            </div>
            <div class="checkBoxContainer">
                <input class="checkBox" type="checkbox" id="rememberMe" name="rememberMe">
                <label class="text3" for="rememberMe">Remember Me</label>
            </div>
            <button class="button">
                <button class="text4" type="submit">Login</button>
            </button>
        </div>
        <div class="container2">
            <div class="line"></div>
            <div class="text5">OR</div>
            <div class="line2"></div>
        </div>
        <button class="button2">
            <div class="icon3"><img src="../../../../assets/google-icon.svg" alt="" class="icon4" /></div>
            <button class="text6" >Login with Google</button>
        </button>
        <div class="button3">
            <div class="text7">
            <p class="labelWrapper">
            <p class="label" >Don't have an account?
            <a class="label2" href="#">Sign Up</a></p>
        </div>
        <div class="icon5"><img src="../../../../assets/arrow-up.svg" alt="" class="icon6" /></div>
    </div>

