

:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  height: min-content;
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  box-shadow: 0px 4px 20px 0px #94c9fb;
}
.textContainer {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.heading {
  color: #262626;
  font-size: 38px;
  font-weight: 600;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.paragraph {
  color: #4c4c4d;
  font-size: 16px;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.form {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
}
.container {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}
.subContainer {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 10px;
}
.heading2 {
  color: #262626;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.inputField {
  height: min-content;
  align-self: stretch;
  padding: 20px;
  outline: solid 1px #f1f1f3;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fcfcfd;
}
.text {
  color: #656567;
  font-size: 16px;
  line-height: 150%;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.subContainer2 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 10px;
}
.heading3 {
  color: #262626;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.inputField2 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 10px;
  padding: 20px;
  outline: solid 1px #f1f1f3;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fcfcfd;
}
.text2 {
  color: #656567;
  font-size: 16px;
  line-height: 150%;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.icon {
  z-index: 0;
  width: 24px;
  height: 24px;
}
.icon2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.textButton {
  color: #4c4c4d;
  font-size: 16px;
  line-height: 150%;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
.checkBoxContainer {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 8px;
}
.checkBox {
  position: relative;
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: flex-start;
  outline: solid 1px #f1f1f3;
  outline-offset: -1px;
  border-radius: 4px;
  background-color: #f7f7f8;
  overflow: hidden;
}
.text3 {
  color: #656567;
  font-size: 16px;
  line-height: 150%;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.button {
  height: min-content;
  align-self: stretch;
  padding: 14px 20px;
  border-radius: 8px;
  background-color: #0083ff;
}
.text4 {
  color: #fff;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.container2 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.line {
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #e4e4e7;
}
.text5 {
  color: #98989a;
  font-size: 14px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.line2 {
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #e4e4e7;
}
.button2 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 16px 24px;
  outline: solid 1px #f1f1f3;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #f7f7f8;
}
.icon3 {
  z-index: 0;
  width: 24px;
  height: 24px;
}
.icon4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text6 {
  color: #262626;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.button3 {
  height: min-content;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.text7 {
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 16px;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #262626;
  font-size: 16px;
  line-height: 150%;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #262626;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  font-family: Be Vietnam Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-decoration: underline;
}
.icon5 {
  width: 20px;
  height: 20px;
}
.icon6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
