<app-reusable-header></app-reusable-header>
<!-- Contenu Principal SUR LE DASHBOARD -->
<section class="first-section">
  <div class="showcase">
    <div class="d-flex">
      <div>
        <div class="rating fs-6 mb-3">
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-fill text-warning"></i>
          <i class="bi bi-star-half text-warning"></i>
          150K
        </div>
      </div>
      <div class="mx-lg-3 icon-text">
        <i class="bi bi-patch-check mb-3"></i> Certificat
        <i class="bi bi-bar-chart-line"></i> Débutant
      </div>
    </div>

    <h1 class="section-title">
      Sharpen Your
      <br />
      React skills
      <img src="../../../../assets/image/icons8-react-native-48.png" alt="" />
    </h1>
    <div>
      <p>Ce cours vous guidera à travers les concepts fondamentaux de React</p>
    </div>
  </div>
  <!-- END -->
</section>
<!-- LES MODULES DE COURS -->
<app-liste-modules></app-liste-modules>
