<nav class="nav navbar navbar-expand-lg align-items-center">
  <div class="container d-flex justify-content-between">
    <div class="title">
      <h4>Dashboard</h4>
    </div>
    <div class="user-info d-flex justify-content-center align-items-center">
      <i class="bi bi-search fs-5"></i>
      <i class="bi bi-chat-left-text mx-4 fs-5"></i>
      <i class="bi bi-bell fs-5"></i>
      <div class="user-profile fs-5 mx-2">
        <img
          src="../../../../assets/image/user-1.jpg"
          width="48px"
          height="48px"
          class="rounded-circle"
        />
      </div>
      <i class="bi bi-caret-down-fill fs-5"></i>
    </div>
  </div>
</nav>

<app-calender></app-calender>
