<div class="container-fluid">
  <table class="table table-striped w-100 nowrap mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.type }}</td>
        <td>{{ user.isPremium}}</td>
        <td>
          <button (click)="editUser(user)">Edit</button>
          <button *ngIf="user._id" (click)="deleteUser(user._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
