@import "./tokens.scss";

.footer-section_109-584 {
  padding: 100px 162px 30px 162px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 50px;
  box-sizing: border-box;
  background: $absolute-white-background;
  width: 640px;
}
.container_109-585 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 100px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.sub-container_109-586 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 20px;
  box-sizing: border-box;
}
.logo_4016-444 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.group-6_4016-445 {
  top: 4px;
  left: 4px;
  position: absolute;
  display: flex;
  width: 33px;
  height: 32px;
  box-shadow: 0px 5px 5px 0px #000000bf;
}
.group-1_4016-446 {
  width: 33px;
  height: 32px;
}
.vector-1_4016-447 {
  display: flex;
}

.group-3_4016-448 {
  width: 33px;
  height: 32px;
}
.vector-1_4016-449 {
  display: flex;
}

.group-4_4016-450 {
  width: 33px;
  height: 32px;
}
.vector-1_4016-451 {
  display: flex;
}

.buttons-container_109-590 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  box-sizing: border-box;
  width: 392px;
}
.button_109-591 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
  box-sizing: border-box;
  border-radius: 6px;
}
.icon_109-592 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.subtract_109-593 {
  top: 4px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-text-button_109-594 {
  color: $grey-15-color;
  font-size: 18px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.button_109-595 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
  box-sizing: border-box;
  border-radius: 6px;
}
.icon_109-596 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector--stroke-_109-597 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-text-button_109-598 {
  color: $grey-15-color;
  font-size: 18px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.button_109-599 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
  box-sizing: border-box;
  border-radius: 6px;
}
.icon_109-600 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.subtract_109-601 {
  top: 2px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-text-button_109-602 {
  color: $grey-15-color;
  font-size: 18px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.sub-container_109-603 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 30px;
  box-sizing: border-box;
  width: 807px;
}
.container_109-604 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 14px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-heading_109-605 {
  color: $grey-15-color;
  font-size: 20px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.buttons-container_109-606 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-text-button_109-607 {
  color: $grey-35-color;
  font-size: 18px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.text-text-button_109-608 {
  color: $grey-35-color;
  font-size: 18px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.text-text-button_109-609 {
  color: $grey-35-color;
  font-size: 18px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.text-text-button_109-610 {
  color: $grey-35-color;
  font-size: 18px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.container_109-611 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 14px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-heading_109-612 {
  color: $grey-15-color;
  font-size: 20px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.buttons-container_109-613 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-text-button_109-614 {
  color: $grey-35-color;
  font-size: 18px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.text-text-button_109-615 {
  color: $grey-35-color;
  font-size: 18px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.text-text-button_109-616 {
  color: $grey-35-color;
  font-size: 18px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.container_109-617 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 14px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.text-heading_109-618 {
  color: $grey-15-color;
  font-size: 20px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.buttons-container_109-619 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 14px;
  box-sizing: border-box;
}
.button_109-620 {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border-color: $white-95-color;
  border-style: solid;
  border-width: 1px;
  background: $white-97-background;
}
.icon_109-621 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_109-622 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.button_109-623 {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border-color: $white-95-color;
  border-style: solid;
  border-width: 1px;
  background: $white-97-background;
}
.icon_109-624 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_109-625 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.button_109-626 {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border-color: $white-95-color;
  border-style: solid;
  border-width: 1px;
  background: $white-97-background;
}
.icon_109-627 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_109-628 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.line_109-629 {
  display: flex;
}

.text-text_109-630 {
  color: $grey-40-color;
  font-size: 18px;
  font-family: Be Vietnam Pro;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: -webkit-fill-available;
}
