<!-- End of .container -->
<footer class="bg-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-2">
    <!--Grid row-->
    <div class="row d-flex align-items-center pt-4">

      <!-- div logo -->
      <div class="col-lg-3 col-md-3">
        <div class="shadow-2-strong d-flex align-items-center justify-content-start mb-3">
          <img src="assets/logo_laptop.png" alt="Logo Zero_to_Hero"/>
        </div>
        <ul class="list-unstyled">
          <li>
            <p><i class="bi bi-envelope-fill icons-color"></i>&nbsp;&nbsp;zero2hero.digital.example.com</p>
          </li>
          <li>
            <p><i class="bi bi-telephone-fill icons-color"></i>&nbsp;&nbsp;+221 33 999 99 99</p>
          </li>
          <li>
            <p class="custom-icon"><i class="bi bi-geo-alt-fill icons-color"></i>&nbsp;&nbsp;Somewhere in the world</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!-- Gdiv Home -->
      <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-end align-items-start">
        <div>
          <h5 class="h5-color">Home</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!">Benefits</a>
            </li>
            <li class="mb-2">
              <a href="#!">Our Courses</a>
            </li>
            <li class="mb-2">
              <a href="#!">Our Testimonials</a>
            </li>
            <li>
              <a href="#!">Our FAQ</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid About Us-->
      <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-center align-items-start">
        <div style="padding-bottom: 30px;">
          <h5 class="h5-color">About Us</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-secondary">Our company</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-secondary">Achievements</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-secondary">Our Goals</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid Contact -->
      <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-start">
        <div style="padding-bottom: 90px;">
          <h5 class="h5-color">Socials Profiles</h5>
          <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li class="bg-light rounded p-1 me-1">
              <a class="text-black px-2" href="#!">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="bg-light rounded p-1 me-1">
              <a class="text-black px-2" href="#!">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li class="bg-light rounded p-1 me-1">
              <a class="text-black ps-2" href="#!">
                <i class="bi bi-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="color: #656567;">
    <hr>
    © 2024 DigitalRise. All right reserved.
  </div>
  <!-- Copyright -->
</footer>
