footer{
  /* background-color: #fff !important;
  background-color: #e6e6e6 !important; */
  background-color: #FCFCFD !important;
}

p{
  color: black;
}

a:link {
  text-decoration: none;
  color: #59595A;
}

a:visited {
  text-decoration: none;
}

.icons-color {
  color: #0083FF;
}

.h5-color{
  color: #262626;
}
