<!-- FOOTER -->
<footer class="footer py-4 bg-light mt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <ul class="navbar-nav">
          <a href="#" class="navbar-brand d-inline-block align-top logo"
            ><img
              src="../../../assets/logo_laptop.png"
              alt=""
              width="40px"
              height="40px"
          /></a>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark">
              <i class="bi bi-envelope-fill"></i>Zero2herodigitalrise.com
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark">
              <i class="bi bi-telephone-fill"></i>+221 33 999 99 99
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark">
              <i class="bi bi-geo-alt-fill"></i>Some where in the world
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <ul class="navbar-nav">
          <h4>Home</h4>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark">Benefices</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark">Our Courses</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark">Our Testimonails</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <ul class="navbar-nav">
          <h4>About Us</h4>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark">Company</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark">Achievements</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-dark">Our Goals</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4>Social Profiles</h4>
        <span class="icon"><i class="bi bi-facebook fs-1 mx-2"></i></span>
        <span class="icon"><i class="bi bi-linkedin fs-1 mx-2"></i></span>
        <span class="icon"><i class="bi bi-twitter fs-1 mx-2"></i></span>
      </div>
    </div>
    <p>© 2024 DigitalRise. All rights reserved.</p>
  </div>
</footer>
