/* Styles */
$bleu-100-background: #0013ff;
$bleu-100-color: #0013ff;
$bleu-80-background: #0083ff;
$bleu-80-color: #0083ff;
$bleu-60-background: #00bcff;
$bleu-60-color: #00bcff;
$bleu-40-background: #00d7f8;
$bleu-40-color: #00d7f8;
$bleu-20-background: #00e9ff;
$bleu-20-color: #00e9ff;
$bleu-8040-background: #0083ff66;
$bleu-8040-color: #0083ff66;
$absolute-white-background: #ffffff;
$absolute-white-color: #ffffff;
$absolute-black-background: #000000;
$absolute-black-color: #000000;
$orange-50-background: #ff9500;
$orange-50-color: #ff9500;
$orange-70-background: #ffbf66;
$orange-70-color: #ffbf66;
$orange-75-background: #ffca7f;
$orange-75-color: #ffca7f;
$orange-80-background: #ffd599;
$orange-80-color: #ffd599;
$orange-90-background: #ffeacc;
$orange-90-color: #ffeacc;
$orange-95-background: #fff4e5;
$orange-95-color: #fff4e5;
$orange-97-background: #fff9f0;
$orange-97-color: #fff9f0;
$orange-99-background: #fffdfa;
$orange-99-color: #fffdfa;
$white-90-background: #e4e4e7;
$white-90-color: #e4e4e7;
$white-95-background: #f1f1f3;
$white-95-color: #f1f1f3;
$white-97-background: #f7f7f8;
$white-97-color: #f7f7f8;
$white-99-background: #fcfcfd;
$white-99-color: #fcfcfd;
$grey-10-background: #1a1a1a;
$grey-10-color: #1a1a1a;
$grey-15-background: #262626;
$grey-15-color: #262626;
$grey-20-background: #333333;
$grey-20-color: #333333;
$grey-30-background: #4c4c4d;
$grey-30-color: #4c4c4d;
$grey-35-background: #59595a;
$grey-35-color: #59595a;
$grey-40-background: #656567;
$grey-40-color: #656567;
$grey-60-background: #98989a;
$grey-60-color: #98989a;
$grey-70-background: #b3b3b3;
$grey-70-color: #b3b3b3;