<app-header></app-header>
<section
  class="container d-flex justify-content-center align-items-center py-5 mt-5"
>
  <div class="showcase-content">
    <div class="showCase-text text-center fs-6">
      <h1>
        <span class="showCase-icon">
          <i class="bi bi-lightning-charge-fill" style="color: #0013ff"></i>
        </span>
        <span style="color: #0013ff"> Unlock </span>
        Your creative Potentiel
      </h1>
      <h2>
        with <span style="color: #00bcff">From </span>
        <span style="color: #0013ff">Zero</span>
        <span style="color: #00bcff"> To</span> Hero
        <i class="bi bi-rocket-takeoff-fill fs-0" style="color: #0013ff"></i>
        Full Courses .
      </h2>
      <p class="mt-4">
        learn with our interactive Roadmap and improve your Skills
      </p>
    </div>
    <div class="btns text-center my-2 py-4">
      <button
        class="btn fs-6 text-white mx-3"
        style="background-color: #0013ff"
      >
        Explore Courses
      </button>
      <button class="btn fs-6 text-dark" style="border: 1px solid #0009">
        View Pricing
      </button>
    </div>
    <div class="d-none row d-lg-flex">
      <div class="col pointer mx-3 fs-5">
        <span>Learn</span>
      </div>
      <div class="col fs-5 pointer-90 mx-3 fs-0">
        <span>Practice </span>
      </div>
      <div class="col fs-5 pointer-75 mx-3">
        <span>Try Again</span>
      </div>
      <div class="col fs-5 pointer-50 mx-3">
        <span>Successed</span>
      </div>
    </div>
    <div class="numbers d-flex justify-content-between mt-2">
      <span class="number">1</span>
      <span class="number">2</span>
      <span class="number">3</span>
      <span class="number">4</span>
    </div>
  </div>
</section>
<section class="py-4">
  <div class="container">
    <div class="row">
      <!-- FIRST ITEM -->
      <div class="col-lg-4 col-md-6">
        <div
          class="card-content d-flex justify-content-center align-items-center gx-2"
        >
          <div class="content-left">
            <span><i class="bi bi-hourglass-bottom"></i></span>
          </div>
          <div class="content-right">
            <h5>Flexible learning schedule</h5>
            <p>
              fit your courses work around your existing commitements and
              obligations
            </p>
          </div>
        </div>
      </div>
      <!-- FIRST ITEM -->
      <div class="col-lg-4 col-md-6">
        <div
          class="card-content d-flex justify-content-center align-items-center gx-2"
        >
          <div class="content-left">
            <span><i class="bi bi-stack-overflow"></i></span>
          </div>
          <div class="content-right">
            <h5>Expert instractor</h5>
            <p>
              Learn from industry experts who have hands-on of experience in
              design
            </p>
          </div>
        </div>
      </div>
      <!-- FIRST ITEM -->
      <div class="col-lg-4 col-md-6">
        <div
          class="card-content d-flex justify-content-center align-items-center gx-2"
        >
          <div class="content-left">
            <span class="content-span"><i class="bi bi-sliders"></i></span>
          </div>
          <div class="content-right">
            <h5>Divers Courses offers</h5>
            <p>
              fit your courses work around your existing commitements and
              obligations
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="d-lg-flex justify-content-center align-items-center">
      <div class="img-left">
        <img
          src="../../../../assets/photo-1.jpg"
          alt="team working"
          class="img-fluid"
        />
      </div>
      <div class="img-right d-none d-lg-block">
        <div class="overlay"></div>
        <span class="play-icon">
          <i class="bi bi-play-fill text-light fs-4"></i>
        </span>
        <img
          src="../../../../assets/student.jpeg"
          alt="person smile"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
<section class="p-4">
  <div class="container">
    <div class="section-content">
      <div class="d-flex justify-content-between align-content-center gx-3">
        <div class="section-text">
          <h3 class="section-title">Benefits</h3>
          <p class="fs-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            aperiam suscipit iste mollitia. Alias vero, architecto nam quisquam
          </p>
        </div>
        <div>
          <button class="btn bg-light fs-6">view All</button>
        </div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 cart py-4">
        <h2 class="text-end text-primary">01</h2>
        <h3 class="mb-4 fs-5">Update Curricullum</h3>
        <p class="fs-6">
          Access courses with up-to-date content reflecting <br />
          the lalests trends and industry practices.
        </p>
        <div class="text-end">
          <button class="btn cart-btn">
            <i class="bi bi-arrow-up-right fs-4"></i>
          </button>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 cart py-4">
        <h2 class="text-end text-primary">02</h2>
        <h3 class="mb-4 fs-5">Practical projects and Assignments</h3>
        <p class="fs-6">
          Explore wide range of development courses <br />
          covering various topics
        </p>
        <div class="text-end">
          <button class="btn cart-btn">
            <i class="bi bi-arrow-up-right fs-4"></i>
          </button>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 cart py-4">
        <h2 class="text-end text-primary">03</h2>
        <h3 class="mb-4 fs-5">Interactive Learning Environment</h3>
        <p class="fs-6">
          Collaborate with fellow learners, exchanging ideas <br />
          and feedback to enhance your understanding
        </p>
        <div class="text-end">
          <button class="btn cart-btn">
            <i class="bi bi-arrow-up-right fs-4"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="p-4">
  <div class="container">
    <h2 class="text-center">Choose the plan that's right for you</h2>
    <div class="row g-4 mt-3">
      <div class="col-lg-4 col-md-6 py-4 price-info p">
        <div class="price-plan text-center">
          <h6 class="fs-5 py-1">Basic</h6>
        </div>
        <div class="text-center">
          <h4 class="price">$7/month</h4>
          <h5>Available Features</h5>
        </div>
        <ul>
          <li>
            <span class="checked fs-5"><i class="bi bi-check2"></i></span>
            Access to selected Free Courses
          </li>
          <li>
            <span class="checked fs-5"><i class="bi bi-check2"></i></span>
            Limited course materials and resources.
          </li>
          <li>
            <span class="checked fs-5"><i class="bi bi-check2"></i></span> Basic
            community support.
          </li>
          <li>
            <i class="bi bi-x-lg text-danger fs-5"></i>No certification upon
            completion.
          </li>
          <li>
            <i class="bi bi-x-lg text-danger fs-5"></i>Ad-supported platform.
          </li>
          <li>
            <i class="bi bi-x-lg text-danger fs-5"></i>Access to playground for
            practice.
          </li>
          <li>
            <i class="bi bi-x-lg text-danger fs-5"></i>Early access to new
            courses and updates.
          </li>
        </ul>
        <div>
          <button class="btn btn-outline-primary w-100 mt-4">
            Select Plan
          </button>
        </div>
      </div>
      <!-- SECOND COLUMN -->
      <div class="col-lg-4 col-md-6 py-4 bg-light price-info">
        <div class="price-plan text-center">
          <h6 class="fs-5 py-1">Standard</h6>
        </div>
        <div class="text-center">
          <h4 class="price">$12/month</h4>
          <h5>Available Features</h5>
        </div>
        <ul>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>
            Unlimited access to all courses.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>
            Unlimited course materials and resources.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>
            Priority support from instructors.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>Course completion
            certificates.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>Access to playground for
            practice.
          </li>
          <li>
            <i class="bi bi-x-lg text-danger fs-5"></i>
            Access to exclusive Pro Plan community forums.
          </li>
          <li>
            <i class="bi bi-x-lg text-danger fs-5"></i>
            Early access to new courses and updates.
          </li>
        </ul>
        <div>
          <button class="btn btn-primary w-100 mt-4">Select Plan</button>
        </div>
      </div>
      <!-- THIRD COLUMN -->
      <div class="col-lg-4 col-md-6 py-4 price-info">
        <div class="price-plan text-center">
          <h6 class="fs-5 py-1">Premium</h6>
        </div>
        <div class="text-center">
          <h4 class="price">$19/month</h4>

          <h5>Available Features</h5>
        </div>
        <ul>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>
            Access to selected Free Courses
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i>
            Limited course materials and resources.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i> Basic community support.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i> No certification upon
            completion.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i> Ad-supported platform.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i> Access to playground for
            practice.
          </li>
          <li>
            <i class="bi bi-check2 checked fs-5"></i> Early access to new
            courses and updates.
          </li>
        </ul>
        <div>
          <button class="btn btn-outline-primary w-100 mt-4">
            Select Plan
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
