<div
  class="container d-flex justify-content-center align-items-center py-5 mt-5"
>
  <div class="showcase-content">
    <div class="showCase-text text-center fs-6">
      <h1>
        <span class="showCase-icon">
          <i class="bi bi-lightning-charge-fill" style="color: #0013ff"></i>
        </span>
        <span style="color: #0013ff"> Unlock </span>
        Your creative Potentiel
      </h1>
      <h2>
        with <span style="color: #00bcff">From </span>
        <span style="color: #0013ff">Zero</span>
        <span style="color: #00bcff"> To</span> Hero
        <i class="bi bi-rocket-takeoff-fill fs-0" style="color: #0013ff"></i>
        Full Courses .
      </h2>
      <p class="mt-4">
        learn with our interactive Roadmap and improve your Skills
      </p>
    </div>
    <div class="btns text-center my-2 py-4">
      <button
        class="btn fs-6 text-white mx-3"
        style="background-color: #0013ff"
      >
        Explore Courses
      </button>
      <button class="btn fs-6 text-dark" style="border: 1px solid #0009">
        View Pricing
      </button>
    </div>
    <div class="d-none row d-lg-flex">
      <div class="col pointer mx-3 fs-5">
        <span>Learn</span>
      </div>
      <div class="col fs-5 pointer-90 mx-3 fs-0">
        <span>Practice </span>
      </div>
      <div class="col fs-5 pointer-75 mx-3">
        <span>Try Again</span>
      </div>
      <div class="col fs-5 pointer-50 mx-3">
        <span>Successed</span>
      </div>
    </div>
    <div class="numbers d-flex justify-content-between mt-2">
      <span class="number">1</span>
      <span class="number">2</span>
      <span class="number">3</span>
      <span class="number">4</span>
    </div>
  </div>
</div>
