<div class="container mt-4">
  <div class="row gx-5">
    <div class="col-md-6 col-sm-12">
      <h3>Contact Us</h3>
    </div>
    <div class="col-md-6">
      <p class="contact-text">
        Need help ? Don't hesitate to contact us! <br />
        At From Zero to Hero, we're here to support you every step of the way.
        Whether you have questions about our training offerings, difficulties
        with a particular concept or simply want to know more about our
        pedagogical approach, our team will be delighted to answer you.
      </p>
    </div>
  </div>
</div>
<!-- FORMS AND CONTACT INFO-->
<div class="container mt-4">
  <div class="form">
    <div class="row">
      <div class="col-lg-8">
        <form>
          <div class="row">
            <div class="col">
              <label for="firstname">First Name</label>
              <input
                type="text"
                name="firstname"
                id="firstname"
                class="form-control"
                placeholder="Enter your first name"
              />
            </div>
            <div class="col">
              <label for="lastname">Last Name</label>
              <input
                type="text"
                name="lastname"
                id="lastname"
                class="form-control"
                placeholder="Enter your last name"
              />
            </div>
          </div>
          <!-- SECOND INOUTS -->
          <div class="row mt-2">
            <div class="col">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                placeholder="Enter your Email"
              />
            </div>
            <div class="col">
              <label for="phone">Phone</label>
              <input
                type="number"
                name="phone"
                id="phone"
                class="form-control"
                placeholder="Enter your last name"
              />
            </div>
          </div>
          <div>
            <label for="Subject" class="mt-2">Subject</label>
            <input
              type="text"
              name="subject"
              id="subject"
              class="form-control"
              placeholder="Subject"
            />
            <label for="message " class="mt-2">Message</label>
            <textarea
              name=""
              id=""
              class="form-control mt-2"
              placeholder="Enter your message here ..."
            ></textarea>
            <div class="text-center">
              <button class="btn btn-primary mt-4 mb-3">
                send your Message
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <!-- CONTACT DETAILS -->
        <div class="item text-center">
          <span class="icon"><i class="bi bi-envelope-fill fs-1"></i></span>
          <p>Zero2hero&#64;digitalrise.com</p>
        </div>
        <!-- FIRST DETAILS -->
        <div class="item mt-4 text-center">
          <span class="icon"><i class="bi bi-telephone-fill fs-1"></i></span>
          <p>+221 33 999 99 99</p>
        </div>
        <div class="item mt-4 text-center">
          <span class="icon"><i class="bi bi-geo-alt-fill fs-1"></i></span>
          <p>Some where in the world</p>
        </div>
        <div class="item mt-4 text-center gx-2">
          <span class="icon"><i class="bi bi-facebook fs-1"></i></span>
          <span class="icon"><i class="bi bi-twitter mx-1 fs-1"></i></span>
          <span class="icon"><i class="bi bi-linkedin fs-1"></i></span>

          <p>Social Profiles</p>
        </div>
      </div>
    </div>
  </div>
</div>
