<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center py-2">
    <h2>Cours disponibles</h2>
    <button class="btn btn-blue" (click)="toggleForm()">
      Ajouter un cours
    </button>
  </div>
  <form *ngIf="showForm" class="mb-4">
    <div class="d-flex">
      <!-- forms group -->
      <div class="form-group mx-2" data-mdb-input-init>
        <input
          type="file"
          id="formControlLg"
          class="form-control form-control-lg"
          placeholder="Profile Image"
        />
      </div>
      <!-- forms group -->
      <div class="form-group" data-mdb-input-init>
        <input
          type="text"
          id="formControlLg"
          class="form-control form-control-lg"
          placeholder="Course Name"
        />
      </div>
      <!-- forms group -->
      <div class="form-group mx-2" data-mdb-input-init>
        <input
          type="text"
          id="formControlLg"
          class="form-control form-control-lg"
          placeholder="Author"
        />
      </div>
      <!-- forms group -->
      <div class="form-group" data-mdb-input-init>
        <input
          type="number"
          id="formControlLg"
          class="form-control form-control-lg"
          placeholder="Prix"
        />
      </div>

      <!-- forms group -->
      <div class="form-group mx-2" data-mdb-input-init>
        <input
          type="number"
          class="form-control form-control-lg"
          placeholder="Likes"
        />
      </div>
    </div>
  </form>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Image</th>
              <th scope="col">Article Name</th>
              <th scope="col">Author</th>
              <th scope="col">Prix</th>
              <th scope="col">Likes</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                <img
                  width="150px"
                  src="../../../../assets/programe/javascript.jpeg"
                  class="img-fluid"
                  alt="Sheep"
                />
              </td>
              <td>Bootstrap 4 CDN and Starter Template</td>
              <td>Cristina</td>
              <td class="text-success">100.000 XOF</td>
              <td>2.846</td>
              <td>
                <div class="d-flex align-items-center fs-4">
                  <i class="bi bi-pencil-square mx-2 edit"></i>
                  <i class="bi bi-trash3-fill delete"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>
                <img
                  width="150px"
                  src="../../../../assets/programe/ui&ux.avif"
                  class="img-fluid"
                  alt="Sheep"
                />
              </td>
              <td>Introduction à javascript</td>
              <td>Cristina</td>
              <td class="text-success">80.000 XOF</td>
              <td>3.417</td>
              <td>
                <div class="d-flex align-items-center fs-4">
                  <i class="bi bi-pencil-square mx-2 edit"></i>
                  <i class="bi bi-trash3-fill delete"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>
                <img
                  width="150px"
                  src="../../../../assets/programe/react.jpg"
                  class="img-fluid"
                  alt="Sheep"
                />
              </td>
              <td>Introduction à React Js</td>
              <td>Cristina</td>
              <td class="text-warning">50.000 XOF</td>
              <td>3.417</td>
              <td>
                <div class="d-flex align-items-center fs-4">
                  <i class="bi bi-pencil-square mx-2 edit"></i>
                  <i class="bi bi-trash3-fill delete"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>
                <img
                  width="150px"
                  src="../../../../assets/programe/webdev.jpg"
                  class="img-fluid"
                  alt="Sheep"
                />
              </td>
              <td>Introduction à React Js</td>
              <td>Cristina</td>
              <td class="text-danger">50.000 XOF</td>
              <td>3.417</td>
              <td>
                <div class="d-flex align-items-center fs-4">
                  <i class="bi bi-pencil-square mx-2 edit"></i>
                  <i class="bi bi-trash3-fill delete"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>
                <img
                  width="150px"
                  src="../../../../assets/programe/node.jpeg"
                  class="img-fluid"
                  alt="Sheep"
                />
              </td>
              <td>Introduction à Node Js</td>
              <td>Cristina</td>
              <td class="text-success">50.000 XOF</td>
              <td>3.417</td>
              <td>
                <div class="d-flex align-items-center fs-4">
                  <i class="bi bi-pencil-square mx-2 edit"></i>
                  <i class="bi bi-trash3-fill delete"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>
                <img
                  width="150px"
                  src="../../../../assets/programe/java.jpeg"
                  class="img-fluid"
                  alt="Sheep"
                />
              </td>
              <td>Bootstrap Grid 4 Tutorial and Examples</td>
              <td>Cristina</td>
              <td class="text-danger">50.000 XOF</td>
              <td>3.417</td>
              <td>
                <div class="d-flex align-items-center fs-4">
                  <i class="bi bi-pencil-square mx-2 edit"></i>
                  <i class="bi bi-trash3-fill delete"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
