<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center py-2">
    <h2>Cours disponibles</h2>
    <button class="btn btn-blue" (click)="toggleForm()">
      Ajouter un cours
    </button>
  </div>
  <!-- cours.component.html -->

  <div class="container mt-4">
    <form
      (submit)="onSubmit()"
      enctype="multipart/form-data"
      *ngIf="showForm"
      class="mb-4 mt-4 text-center"
    >
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          [(ngModel)]="course.title"
          class="form-control"
          required
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          name="description"
          [(ngModel)]="course.description"
          class="form-control"
          rows="4"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <label for="image">Choose Image</label>
        <input
          type="file"
          id="image"
          name="image"
          (change)="onFileSelected($event)"
          accept="image/*"
          class="form-control-file"
          required
        />
      </div>

      <div class="form-group">
        <label for="duration">Duration (in hours)</label>
        <input
          type="number"
          id="duration"
          name="duration"
          [(ngModel)]="course.duration"
          class="form-control"
          required
        />
      </div>

      <div class="form-group">
        <label for="level">Level</label>
        <select
          id="level"
          name="level"
          [(ngModel)]="course.level"
          class="form-control"
          required
        >
          <option value="Difficile">Difficile</option>
          <option value="Intermediaire">Intermediaire</option>
          <option value="Débutant">Débutant</option>
        </select>
      </div>

      <div class="form-group">
        <label for="categorie">Category</label>
        <input
          type="text"
          id="categorie"
          name="categorie"
          [(ngModel)]="course.categorie"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary my-3">Create Course</button>
    </form>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Image</th>
              <th scope="col">Article Name</th>
              <th scope="col">Author</th>
              <th scope="col">Prix</th>
              <th scope="col">Likes</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                <img
                  width="150px"
                  src="../../../../assets/programe/javascript.jpeg"
                  class="img-fluid"
                  alt="Sheep"
                />
              </td>
              <td>Bootstrap 4 CDN and Starter Template</td>
              <td>Cristina</td>
              <td class="text-success">100.000 XOF</td>
              <td>2.846</td>
              <td>
                <div class="d-flex align-items-center fs-4">
                  <i class="bi bi-pencil-square mx-2 edit"></i>
                  <i class="bi bi-trash3-fill delete"></i>
                  <button class="btn btn-success">inscrits</button>
                  <button class="btn btn-primary">modules</button>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>
                <img
                  width="150px"
                  src="../../../../assets/programe/ui&ux.avif"
                  class="img-fluid"
                  alt="Sheep"
                />
              </td>
              <td>Introduction à javascript</td>
              <td>Cristina</td>
              <td class="text-success">80.000 XOF</td>
              <td>3.417</td>
              <td>
                <div class="d-flex align-items-center fs-4">
                  <i class="bi bi-pencil-square mx-2 edit"></i>
                  <i class="bi bi-trash3-fill delete"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>
                <img
                  width="150px"
                  src="../../../../assets/programe/react.jpg"
                  class="img-fluid"
                  alt="Sheep"
                />
              </td>
              <td>Introduction à React Js</td>
              <td>Cristina</td>
              <td class="text-warning">50.000 XOF</td>
              <td>3.417</td>
              <td>
                <div class="d-flex align-items-center fs-4">
                  <i class="bi bi-pencil-square mx-2 edit"></i>
                  <i class="bi bi-trash3-fill delete"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>
                <img
                  width="150px"
                  src="../../../../assets/programe/webdev.jpg"
                  class="img-fluid"
                  alt="Sheep"
                />
              </td>
              <td>Introduction à React Js</td>
              <td>Cristina</td>
              <td class="text-danger">50.000 XOF</td>
              <td>3.417</td>
              <td>
                <div class="d-flex align-items-center fs-4">
                  <i class="bi bi-pencil-square mx-2 edit"></i>
                  <i class="bi bi-trash3-fill delete"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>
                <img
                  width="150px"
                  src="../../../../assets/programe/node.jpeg"
                  class="img-fluid"
                  alt="Sheep"
                />
              </td>
              <td>Introduction à Node Js</td>
              <td>Cristina</td>
              <td class="text-success">50.000 XOF</td>
              <td>3.417</td>
              <td>
                <div class="d-flex align-items-center fs-4">
                  <i class="bi bi-pencil-square mx-2 edit"></i>
                  <i class="bi bi-trash3-fill delete"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>
                <img
                  width="150px"
                  src="../../../../assets/programe/java.jpeg"
                  class="img-fluid"
                  alt="Sheep"
                />
              </td>
              <td>Bootstrap Grid 4 Tutorial and Examples</td>
              <td>Cristina</td>
              <td class="text-danger">50.000 XOF</td>
              <td>3.417</td>
              <td>
                <div class="d-flex align-items-center fs-4">
                  <i class="bi bi-pencil-square mx-2 edit"></i>
                  <i class="bi bi-trash3-fill delete"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
